  
    {% extends 'base.html' %}

    {% block title %} Contact Page  {% endblock %}
    
    {% block head %}


    
    
    {% endblock head %}
    
    {% block body %}
    
    
    <div class="header"><h4 style="text-align: center; margin-top:60px; font-size:40px; color:#0B5ED7;font-weight: bold;">Contact Me</h4></div>
            <div class="container mt-5">
              <div class="row justify-content-center">
                <div class="col-lg-8 col-md-6">
                  <div class="card shadow-lg">
                    <div class="card-body">
                      <h5 class="card-title text-center">Contact</h5>
                      
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{form | crispy }}
                        
                          <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
    </div>
    
    


    


{% endblock body %}

