


<!doctype html>
<html lang="en">

<head>
  <title>SignUp page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="icon" href="../media/icon/favicon.ico" type="image/x-icon">
<style>
    .card {
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        border: 1px solid #dddfe2;
      }
    ._xkv{
        padding: 12px 0 18px;
        text-align: center;
    }
    ._xkv ._97w4{
        text-decoration: none;
        font-size: 16px;
        
    }
    ._xkv ._97w4:hover{
        text-decoration: underline;
        
    }
  </style>

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>   
        <div class="header"><h4 style="text-align: center; margin-top:60px; font-size:40px; color:#0B5ED7;font-weight: bold;">Quizzes BD</h4></div>
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Create A New Account</h5>
                  
                <form method="POST" action="">
                    {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {{form | crispy }}      
                    
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                  </form>
                </div>
                <div class="_xkv fsm fwn fcg" id="login_link"><a href="/contact/login/" class="_97w4" target="">All ready you have account?</a></div>
              </div>
            </div>
          </div>
        </div>
      
        </div> <br><br><br>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
